// Fonts
@font-face {
    font-family: "proxima-nova";
    src: url("../fonts/proxima-nova.woff") format("woff");
}

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

$primary: #014D87;
$secondary: #E3010F;

html,
body {
    font-family: "proxima-nova", sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: var(--bs-gray-dark);
}
::-webkit-scrollbar-thumb {
    background: $primary;
}
::-webkit-scrollbar-thumb:hover {
    background: lighten($primary, 50);
}


.c-pointer {
    cursor: pointer;
}

/* Buttons */
.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-radius: 0;
    padding: 10px 15px;
    border: none;
    text-transform: none;
}

.btn-primary {
    background-color: $primary;
    color: #fff;
    &:hover {
        background-color: darken($color: $primary, $amount: 20);
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    }
}

.btn-hide {
    background: transparent;
    border: none;
    transform: none;
    padding: none;
}

/* Forms */
.form-control {
    border: none;
    border-bottom: 2px solid $primary;
    border-radius: 0;
    background-color: #eef7ff;

    &:focus {
        border-bottom: 2px solid lighten($primary, 50);
        box-shadow: none;
    }
}

/* Modal */
.modal {
    .modal-content {
        border-radius: 0;
    }


    .close {
        padding: .5rem .5rem;
        margin: -.5rem -.5rem -.5rem auto;
        box-sizing: content-box;
        width: 2em;
        height: 2em;
        color: #000;
        border: 0;
        border-radius: .25rem;
        opacity: .5;

        &:hover {
            color: #000;
            text-decoration: none;
            opacity: .75;
        }
    }
}
.modal-backdrop {
    opacity: .8;
}


/* Calendar */
#calendar {
    color: white;
    height: fit-content;
    position: sticky;
    top: 0;

    .month {
        min-width: 190px;
        text-align: center;
    }

    #week-days {
        display: flex;

        div {
            text-transform: uppercase;
            font-weight: bolder;
            padding: .5rem;
            width: 14.2%;
            text-align: center;
            border-bottom: 1px solid white;
        }
    }

    #weeks {
        .week {
            border-bottom: 1px solid white;
            display: flex;

            .day {
                text-align: center;
                aspect-ratio: 1/1;
                display: flex;

                .day-number {
                    padding: .25rem .5rem;
                    margin: auto;
                }

                &:nth-child(6), &:nth-child(7) {
                    background-color: darken($primary, 20);
                }
            }

            .day:not(:last-child) {
                border-right: 1px solid white;
            }
        }

        .today {
            background-color: lighten($color: $primary, $amount: 50);
            color: black;
            .day-number {
                background-color: lighten($color: $primary, $amount: 50);
                border-radius: 50%;
            }
        }

        .other-month {
            color: rgba(white, 0.2);
        }

        .event {
            background-color: $primary !important;
        }
    }
}

#events {
    .event {
        display: flex;
        margin-bottom: 5px;
        background-color: lighten($color: $primary, $amount: 50);

        .event-day {
            background-color: $primary;
            color: white;
            min-width: 65px;
        }
    }
}


