<template>
    <div style="max-width: 1000px;">
        <div class="d-flex flex-wrap w-100">
            <div id="calendar" class="col-12 col-md-5 pt-5 px-3 px-lg-4">
                <div class="d-flex">
                    <div class="c-pointer me-auto" @click="changeMonth(0)">
                        <i class="fas fa-long-arrow-alt-left fa-2x px-3"></i>
                    </div>
                    <div class="fs-5 px-3 month mx-auto"> {{ moment(monthAndYear).lang('cs').format('MMM') }}
                         {{moment(monthAndYear).format('Y') }}</div>
                    <div class="c-pointer ms-auto" @click="changeMonth(1)">
                        <i class="fas fa-long-arrow-alt-right fa-2x px-3"></i>
                    </div>
                </div>

                <div id="week-days">
                    <div>Po</div>
                    <div>Út</div>
                    <div>St</div>
                    <div>Čt</div>
                    <div>Pá</div>
                    <div>So</div>
                    <div>Ne</div>
                </div>

                <div id="weeks">
                    <div v-for="week in weeks" class="week">
                        <div v-for="day in week" class="col day" v-b-modal.new-event-modal @click="newEvent.from = moment(day.date).format('Y-M-D')"
                            :class="(moment(day.date).format('D M Y') == moment().format('D M Y') ? 'today' : '') + ' ' + (moment(day.date).format('M') == moment(monthAndYear).format('M') ? '' : 'other-month') + ' ' + (day.hasEvent ? 'event' : '')">
                            <!-- (moment(day).format('M') == moment(monthAndYear).format('M') ? '' : 'other-month') -->
                            <div class="day-number">{{ moment(day.date).format('D') }}</div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="events" class="col-12 col-md-7 mt-5 pt-5 pb-4 px-3 px-lg-0">
                <h4 class="text-white">Události v tomto měsíci</h4>
                <div v-for="event in events" class="event">
                    <div class="p-3 event-day">
                        <div>{{ moment(event.start_date).format('D.M.') }}</div>
                        <div v-if="event.end_date != null">
                            <!-- <div class="text-center fs-6" style="line-height: 1px;"><i class="fas fa-minus fa-xs"></i></div> -->
                            <div>{{ moment(event.end_date).format('D.M.') }}</div>
                        </div>
                    </div>
                    <div class="p-3">
                        <div class="fs-5">{{ event.title }}</div>
                        <div class="small ps-2">{{ event.note }}</div>
                    </div>
                </div>
            </div>
        </div>

        <b-modal id="new-event-modal" size="md" class="modal">
            <template v-slot:modal-title>
                Nová událost
            </template>

                <div class="mb-3">
                    <label for="title">Název<span class="text-danger fs-5">*</span></label>
                    <input id="title" v-model="newEvent.title" type="text" class="form-control" required @input="$v.newEvent.title.$touch">
                    <div class="invalid-feedback"
                             style="display:inline-block"
                             v-if="!$v.newEvent.title.required && $v.newEvent.title.$dirty">
                             Název události musí být vyplněn.
                        </div>
                </div>
                <div class="mb-3">
                    <label for="start">Začátek<span class="text-danger fs-5">*</span></label>
                    <input id="start" v-model="newEvent.from" type="date" class="form-control" required @input="$v.newEvent.from.$touch">
                    <div class="invalid-feedback"
                             style="display:inline-block"
                             v-if="!$v.newEvent.from.required && $v.newEvent.from.$dirty">Začátek události musí být vyplněn.
                        </div>
                </div>
                <div class="mb-3">
                    <label for="end">Konec</label>
                    <input id="end" v-model="newEvent.to" type="date" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="note">Poznámka</label>
                    <input id="note" v-model="newEvent.note" type="text" class="form-control">
                </div>

            <template v-slot:modal-footer>
                <button v-if="$v.$invalid" disabled class="btn btn-secondary"> Vytvořit</button>
                <button v-else @click="addEvent()" class="btn btn-primary"> Vytvořit</button>
            </template>
        </b-modal>
    </div>
</template>

<script>
import moment from 'moment'
import {required} from "vuelidate/lib/validators";

export default {
    name: "CalendarComponent", data() {
        return {
            monthAndYear: null,
            weeks: null,
            events: [],
            newEvent: {
                from: null,
                to: null,
                title: "",
                note: ""
            }
        }
    },
    mounted() {
        this.getMonth();
    },
    methods: {
        getMonth() {
            axios.post('api/loadMonth', { actualMY: this.monthAndYear }).then((response) => {
                this.monthAndYear = response.data.actualMY;
                this.weeks = response.data.weeks;
                this.getEvents();
            });
        },
        getEvents() {
            axios.post('api/loadEvents', { actualMY: this.monthAndYear }).then((response) => {
                this.events = response.data;
            });
        },
        changeMonth(move) {
            axios.post('api/changeMonth', { actualMY: this.monthAndYear, move }).then((response) => {
                console.log(response.data)
                this.monthAndYear = response.data.actualMY;
                this.weeks = response.data.weeks;
                this.getEvents();
            });
        },
        addEvent() {
            axios.post('api/addEvent', { event: this.newEvent }).then((response) => {
                    this.$bvModal.hide('new-event-modal');
                    this.getMonth();
            });
        }
    },
    validations: {
        newEvent: {
            title: {required},
            from: {required}
        }
    },
}
</script>
